<ion-card-content>
  <div class="agenda">
    <!-- Tarjeta de Cliente 1 -->
    <ion-card class="waiting-card">
      <div class="ribbon" style="background-color: red;">Pendinte</div>
      <ion-card-content>
        <ion-label class="name">VALERIA</ion-label>
        <div class="details">
          <ion-icon name="time-outline"></ion-icon>
          <span>18:22</span>
        </div>
        <div class="status">
          <ion-icon name="help-circle-outline"></ion-icon>
          <span>En espera</span>
        </div>
        <ion-button size="small" fill="outline" color="primary">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
</ion-card-content>
