.waiting-card {
  --background: #f4f4f4;  // Color de fondo inicial
  width: 80%;
  text-align: center;
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  color: black;

  &:hover {
    transform: translateY(-5px);  // Elevar botón al hacer hover
    background-color: #e0e0e0 !important;  // Cambio de color de fondo
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);  // Sombra más pronunciada
  }
}
.pending {
  --background: red;
  color: white;
}

.in-progress {
  --background: orange;
  color: white;
}

.completed {
  --background: green;
  color: white;
}


