<div class="barracontrol">
  <select style="margin-right: 10px; padding: 5px;" disabled>
    <option>Grupo 1</option>
    <option>Grupo 2</option>
    <option>Grupo 3</option>
    <option>Grupo 4</option>
    <option>Grupo 5</option>
  </select>

  <div style="margin-right: 10px;">
    <select style="border-radius: 5px; margin-right: 10px; padding: 5px;">
      <option> Asier Bañuelos </option>
      <option>Beñat Herrera</option>
      <option>Asier Nicolas</option>
    </select>
    <button class="botonEliminar">Eliminar</button>
  </div>

  <div style="margin-right: 10px;">
    <button style="border: none; background: none; color:white;">&#9664;</button>
    <span style=" color:white; margin: 0 5px;">Hoy</span>
    <button style="border: none; background: none; color:white;">&#9654;</button>
  </div>

  <div style="margin-right: 10px;">
    <input type="date" value="2024-12-27" style="border-radius: 5px; padding: 5px;">
  </div>
  <button
  style="padding: 5px 10px; background-color: #007BFF; color: white; border: none; border-radius: 5px;"
>
  Añadir Cita
</button>

</div>