.botonEliminar{
    padding: 5px 10px;
    background-color: #bf1102;
    color: white;
    border: none;
    border-radius: 5px;
  }
  .barracontrol{
    background-color: #535b7f;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center
  
  }
  