<ion-app>
  <app-barra-navegacion></app-barra-navegacion>

  <ion-content class="full-height">
    <app-nav-bar></app-nav-bar>
    <app-barra-control></app-barra-control>

    <ion-grid class="full-grid">
      <ion-row>
        <ion-col size-md="11" size="12">
          <ion-card class="full-card">
            <ion-card-header class="center">
              <ion-card-title>Agenda del día</ion-card-title>
            </ion-card-header>

            <div class="agenda-container">
              <!-- Columna de horas independiente -->
              <div class="hour-column">
                <div *ngFor="let hour of hours" class="hour-item">
                  {{ hour }}
                </div>
              </div>

              <!-- Contenedor de agendas -->
              <div class="agenda-column">
                <ion-row>
                  <ion-col size-md="4" size="12" *ngFor="let cita of citas">
                    <app-box-list [nombre]="cita.izena" (click)="abrirInfoCita(cita)"></app-box-list>
                  </ion-col>
                </ion-row>
              </div>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>
