ion-toolbar {
    --background: #f8f9fa;
    --color: #333;
  }
  
    .logo-container {
    padding: 10px;
  }
  
  .logo-container img {
    height: auto;
    width: 80px;
  }
  
  ion-avatar{
    padding: 10px;
  }

  
  
  
  
  
  