<ion-header>
  <ion-toolbar>

    <div class="logo-container">
      <img src="assets/fotos/IMP_Logotipoa.png" alt="Logo Ileapaindegia" />
    </div>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
      <ion-avatar slot="end">
        <img src="assets/fotos/descarga-_4_.png" alt="User Avatar">
      </ion-avatar>
      <ion-button (click)="goToLogin()">
        <ion-icon slot="icon-only" name="log-in-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
