ion-toolbar {
    --background: #f8f9fa;
    --color: #333;
  }
  
    .logo-container {
    padding: 10px;
  }
  
  .logo-container img {
    max-width: 60%;
    height: auto;
    max-height: 40px;
  }
  
  ion-avatar{
    padding: 10px;
  }

  
  
  
  
  
  